<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>SankeyID2cf673673aaa</title>
<meta http-equiv="content-type" content="text/html;charset=utf-8" />
<style type="text/css">
body {
  color: #444444;
  font-family: Arial,Helvetica,sans-serif;
  font-size: 75%;
  }
  a {
  color: #4D87C7;
  text-decoration: none;
}
</style>
</head>
<body>
 <!-- Sankey generated in R 3.2.4 by googleVis 0.5.10 package -->
<!-- Wed Apr 20 09:33:01 2016 -->


<!-- jsHeader -->
<script type="text/javascript">
 
// jsData 
function gvisDataSankeyID2cf673673aaa () {
var data = new google.visualization.DataTable();
var datajson =
[
 [
 "New_1",
"Approved by Hiring Manager_2",
27 
],
[
 "New_1",
"Candidate Experience_2",
1 
],
[
 "New_1",
"Contingent Offer Sent_2",
1 
],
[
 "New_1",
"Hired_2",
33 
],
[
 "New_1",
"Interview #1_2",
685 
],
[
 "New_1",
"Interview #2_2",
47 
],
[
 "New_1",
"Interview #3_2",
7 
],
[
 "New_1",
"Interview #4 do not use_2",
20 
],
[
 "New_1",
"Interview #5_2",
2 
],
[
 "New_1",
"Manager Screen_2",
6 
],
[
 "New_1",
"Offer Accepted/Hired_2",
4 
],
[
 "New_1",
"Offer Declined_2",
2 
],
[
 "New_1",
"Offer Extended_2",
7 
],
[
 "New_1",
"Offer Generation_2",
5 
],
[
 "New_1",
"Phone Screen_2",
3599 
],
[
 "New_1",
"Pivotal Rejected_2",
17404 
],
[
 "New_1",
"Product Design Manager Screen_2",
1 
],
[
 "New_1",
"Reference Check #3_2",
1 
],
[
 "New_1",
"Rejected by Hiring Manager_2",
78 
],
[
 "New_1",
"Rejected_2",
852 
],
[
 "New_1",
"Resume Viewed_2",
523 
],
[
 "New_1",
"RPI_2",
3944 
],
[
 "New_1",
"Screened_2",
1 
],
[
 "New_1",
"Submitted to Hiring Manager_2",
511 
],
[
 "New_1",
"Visa Processing_2",
2 
],
[
 "New_1",
"Waiting Room_2",
239 
],
[
 "Manager Screen_2",
"Approved by Hiring Manager_3",
1 
],
[
 "Phone Screen_2",
"Approved by Hiring Manager_3",
2 
],
[
 "Pivotal Rejected_2",
"Approved by Hiring Manager_3",
2 
],
[
 "Resume Viewed_2",
"Approved by Hiring Manager_3",
3 
],
[
 "RPI_2",
"Approved by Hiring Manager_3",
1 
],
[
 "Submitted to Hiring Manager_2",
"Approved by Hiring Manager_3",
103 
],
[
 "Waiting Room_2",
"Approved by Hiring Manager_3",
1 
],
[
 "Contingent Offer Sent_2",
"Hired_3",
1 
],
[
 "Interview #1_2",
"Hired_3",
21 
],
[
 "Interview #2_2",
"Hired_3",
1 
],
[
 "Interview #3_2",
"Hired_3",
5 
],
[
 "Interview #4 do not use_2",
"Hired_3",
7 
],
[
 "Offer Accepted/Hired_2",
"Hired_3",
2 
],
[
 "Offer Extended_2",
"Hired_3",
4 
],
[
 "Offer Generation_2",
"Hired_3",
1 
],
[
 "Phone Screen_2",
"Hired_3",
21 
],
[
 "RPI_2",
"Hired_3",
10 
],
[
 "Waiting Room_2",
"Hired_3",
1 
],
[
 "Approved by Hiring Manager_2",
"Interview #1_3",
7 
],
[
 "Interview #2_2",
"Interview #1_3",
10 
],
[
 "Phone Screen_2",
"Interview #1_3",
401 
],
[
 "Pivotal Rejected_2",
"Interview #1_3",
16 
],
[
 "Resume Viewed_2",
"Interview #1_3",
2 
],
[
 "RPI_2",
"Interview #1_3",
1463 
],
[
 "Submitted to Hiring Manager_2",
"Interview #1_3",
2 
],
[
 "Waiting Room_2",
"Interview #1_3",
6 
],
[
 "Interview #1_2",
"Interview #2_3",
147 
],
[
 "Manager Screen_2",
"Interview #2_3",
1 
],
[
 "Phone Screen_2",
"Interview #2_3",
18 
],
[
 "Pivotal Rejected_2",
"Interview #2_3",
2 
],
[
 "RPI_2",
"Interview #2_3",
5 
],
[
 "Interview #1_2",
"Interview #3_3",
3 
],
[
 "Interview #2_2",
"Interview #3_3",
1 
],
[
 "Interview #4 do not use_2",
"Interview #3_3",
1 
],
[
 "RPI_2",
"Interview #3_3",
14 
],
[
 "Interview #1_2",
"Interview #4 do not use_3",
9 
],
[
 "Interview #2_2",
"Interview #4 do not use_3",
7 
],
[
 "Interview #3_2",
"Interview #4 do not use_3",
1 
],
[
 "Phone Screen_2",
"Interview #4 do not use_3",
4 
],
[
 "RPI_2",
"Interview #4 do not use_3",
31 
],
[
 "Interview #4 do not use_2",
"Interview #4_3",
2 
],
[
 "Interview #5_2",
"Interview #4_3",
1 
],
[
 "Hired_2",
"Interview #5_3",
1 
],
[
 "Interview #4 do not use_2",
"Interview #5_3",
4 
],
[
 "RPI_2",
"Interview #5_3",
1 
],
[
 "Phone Screen_2",
"Manager Screen_3",
66 
],
[
 "RPI_2",
"Manager Screen_3",
3 
],
[
 "Interview #1_2",
"New_3",
18 
],
[
 "Phone Screen_2",
"New_3",
19 
],
[
 "Pivotal Rejected_2",
"New_3",
79 
],
[
 "Rejected_2",
"New_3",
3 
],
[
 "Resume Viewed_2",
"New_3",
1 
],
[
 "RPI_2",
"New_3",
25 
],
[
 "Hired_2",
"Offer Accepted_3",
1 
],
[
 "Hired_2",
"Offer Accepted/Hired_3",
1 
],
[
 "Interview #1_2",
"Offer Accepted/Hired_3",
2 
],
[
 "Interview #2_2",
"Offer Accepted/Hired_3",
1 
],
[
 "Interview #4 do not use_2",
"Offer Accepted/Hired_3",
1 
],
[
 "Interview #1_2",
"Offer Declined_3",
1 
],
[
 "Interview #4 do not use_2",
"Offer Declined_3",
1 
],
[
 "Offer Extended_2",
"Offer Declined_3",
1 
],
[
 "Offer Generation_2",
"Offer Declined_3",
1 
],
[
 "Phone Screen_2",
"Offer Declined_3",
2 
],
[
 "Interview #1_2",
"Offer Extended_3",
6 
],
[
 "Interview #4 do not use_2",
"Offer Extended_3",
1 
],
[
 "Phone Screen_2",
"Offer Extended_3",
1 
],
[
 "RPI_2",
"Offer Extended_3",
8 
],
[
 "Interview #1_2",
"Offer Generation_3",
4 
],
[
 "Interview #2_2",
"Offer Generation_3",
2 
],
[
 "Phone Screen_2",
"Offer Generation_3",
2 
],
[
 "RPI_2",
"Offer Generation_3",
3 
],
[
 "Interview #1_2",
"Phone Screen_3",
22 
],
[
 "Interview #2_2",
"Phone Screen_3",
2 
],
[
 "Offer Generation_2",
"Phone Screen_3",
1 
],
[
 "Phone Screen_2",
"Phone Screen_3",
29 
],
[
 "Pivotal Rejected_2",
"Phone Screen_3",
31 
],
[
 "Rejected_2",
"Phone Screen_3",
3 
],
[
 "Resume Viewed_2",
"Phone Screen_3",
82 
],
[
 "RPI_2",
"Phone Screen_3",
56
],
[
 "Screened_2",
"Phone Screen_3",
1 
],
[
 "Submitted to Hiring Manager_2",
"Phone Screen_3",
53
],
[
 "Waiting Room_2",
"Phone Screen_3",
34 
],
[
 "Approved by Hiring Manager_2",
"Pivotal Rejected_3",
7 
],
[
 "Hired_2",
"Pivotal Rejected_3",
5 
],
[
 "Interview #1_2",
"Pivotal Rejected_3",
254 
],
[
 "Interview #2_2",
"Pivotal Rejected_3",
12 
],
[
 "Interview #3_2",
"Pivotal Rejected_3",
1 
],
[
 "Interview #4 do not use_2",
"Pivotal Rejected_3",
3 
],
[
 "Offer Extended_2",
"Pivotal Rejected_3",
1 
],
[
 "Phone Screen_2",
"Pivotal Rejected_3",
1514 
],
[
 "Pivotal Rejected_2",
"Pivotal Rejected_3",
122
],
[
 "Reference Check #3_2",
"Pivotal Rejected_3",
1 
],
[
 "Rejected by Hiring Manager_2",
"Pivotal Rejected_3",
56 
],
[
 "Resume Viewed_2",
"Pivotal Rejected_3",
186 
],
[
 "RPI_2",
"XYZ",
1888 
],
[
 "Submitted to Hiring Manager_2",
"Pivotal Rejected_3",
35
],
[
 "Waiting Room_2",
"Pivotal Rejected_3",
68 
],
[
 "RPI_2",
"PM - 1st round_3",
1 
],
[
 "Phone Screen_2",
"Product Design Manager Screen_3",
2 
],
[
 "Pivotal Rejected_2",
"Product Manager Evaluation_3",
1 
],
[
 "Interview #1_2",
"Reference Check #2_3",
1 
],
[
 "Interview #5_2",
"Reference Check #2_3",
1 
],
[
 "RPI_2",
"Reference Check #3_3",
1 
],
[
 "Interview #1_2",
"Rejected by Hiring Manager_3",
3 
],
[
 "Phone Screen_2",
"Rejected by Hiring Manager_3",
33 
],
[
 "Resume Viewed_2",
"Rejected by Hiring Manager_3",
17 
],
[
 "RPI_2",
"Rejected by Hiring Manager_3",
22 
],
[
 "Submitted to Hiring Manager_2",
"Rejected by Hiring Manager_3",
110 
],
[
 "Interview #1_2",
"Rejected_3",
28 
],
[
 "Interview #2_2",
"Rejected_3",
1 
],
[
 "Phone Screen_2",
"Rejected_3",
122 
],
[
 "Product Design Manager Screen_2",
"Rejected_3",
1 
],
[
 "Rejected_2",
"Rejected_3",
3 
],
[
 "Resume Viewed_2",
"Rejected_3",
2 
],
[
 "Waiting Room_2",
"Rejected_3",
7 
],
[
 "Candidate Experience_2",
"Resume Viewed_3",
1 
],
[
 "Interview #1_2",
"Resume Viewed_3",
3 
],
[
 "Offer Declined_2",
"Resume Viewed_3",
1 
],
[
 "Phone Screen_2",
"Resume Viewed_3",
12 
],
[
 "Pivotal Rejected_2",
"Resume Viewed_3",
2 
],
[
 "Resume Viewed_2",
"Resume Viewed_3",
1 
],
[
 "ABC",
"Resume Viewed_3",
2 
],
[
 "Submitted to Hiring Manager_2",
"Resume Viewed_3",
1 
],
[
 "Approved by Hiring Manager_2",
"RPI_3",
10 
],
[
 "Interview #1_2",
"RPI_3",
28 
],
[
 "Offer Generation_2",
"RPI_3",
1 
],
[
 "Phone Screen_2",
"RPI_3",
90
],
[
 "Pivotal Rejected_2",
"RPI_3",
42 
],
[
 "Resume Viewed_2",
"RPI_3",
20 
],
[
 "RPI_2",
"RPI_3",
50 
],
[
 "Submitted to Hiring Manager_2",
"RPI_3",
3
],
[
 "Waiting Room_2",
"RPI_3",
22 
],
[
 "Phone Screen_2",
"Submitted to Hiring Manager_3",
36 
],
[
 "Pivotal Rejected_2",
"Submitted to Hiring Manager_3",
1 
],
[
 "Resume Viewed_2",
"Submitted to Hiring Manager_3",
17 
],
[
 "RPI_2",
"Submitted to Hiring Manager_3",
5 
],
[
 "Submitted to Hiring Manager_2",
"Submitted to Hiring Manager_3",
1 
],
[
 "Waiting Room_2",
"Submitted to Hiring Manager_3",
7 
],
[
 "Hired_2",
"Visa Processing_3",
1 
],
[
 "RPI_2",
"Visa Processing_3",
1 
],
[
 "Approved by Hiring Manager_2",
"Waiting Room_3",
1 
],
[
 "Interview #1_2",
"Waiting Room_3",
3 
],
[
 "Phone Screen_2",
"Waiting Room_3",
46 
],
[
 "Pivotal Rejected_2",
"Waiting Room_3",
2 
],
[
 "Resume Viewed_2",
"Waiting Room_3",
4 
],
[
 "RPI_2",
"Waiting Room_3",
48 
],
[
 "Submitted to Hiring Manager_2",
"Waiting Room_3",
3 
],
[
 "Phone Screen_3",
"Approved by Hiring Manager_4",
5 
],
[
 "Pivotal Rejected_3",
"Approved by Hiring Manager_4",
1 
],
[
 "Submitted to Hiring Manager_3",
"Approved by Hiring Manager_4",
21 
],
[
 "Interview #1_3",
"Approved_4",
5 
],
[
 "Offer Extended_3",
"Approved_4",
1 
],
[
 "Hired_3",
"Hired_4",
1 
],
[
 "Interview #1_3",
"Hired_4",
80 
],
[
 "Interview #2_3",
"Hired_4",
11 
],
[
 "Interview #4 do not use_3",
"Hired_4",
14 
],
[
 "Offer Accepted/Hired_3",
"Hired_4",
2 
],
[
 "Offer Extended_3",
"Hired_4",
8 
],
[
 "Offer Generation_3",
"Hired_4",
6 
],
[
 "Phone Screen_3",
"Hired_4",
1 
],
[
 "Pivotal Rejected_3",
"Hired_4",
2 
],
[
 "Reference Check #2_3",
"Hired_4",
1 
],
[
 "Rejected_3",
"Hired_4",
1 
],
[
 "RPI_3",
"Hired_4",
4 
],
[
 "Visa Processing_3",
"Hired_4",
1 
],
[
 "Interview #1_3",
"Interview #1_4",
1 
],
[
 "Interview #2_3",
"Interview #1_4",
14 
],
[
 "Interview #3_3",
"Interview #1_4",
1 
],
[
 "Interview #4 do not use_3",
"Interview #1_4",
22 
],
[
 "Manager Screen_3",
"Interview #1_4",
21 
],
[
 "New_3",
"Interview #1_4",
4 
],
[
 "Phone Screen_3",
"Interview #1_4",
31 
],
[
 "Pivotal Rejected_3",
"Interview #1_4",
10 
],
[
 "PM - 1st round_3",
"Interview #1_4",
1 
],
[
 "Resume Viewed_3",
"Interview #1_4",
1 
],
[
 "RPI_3",
"Interview #1_4",
313 
],
[
 "Submitted to Hiring Manager_3",
"Interview #1_4",
1 
],
[
 "Waiting Room_3",
"Interview #1_4",
2 
],
[
 "Interview #1_3",
"Interview #2_4",
728 
],
[
 "Interview #4 do not use_3",
"Interview #2_4",
1 
],
[
 "Phone Screen_3",
"Interview #2_4",
4 
],
[
 "Pivotal Rejected_3",
"Interview #2_4",
1 
],
[
 "RPI_3",
"Interview #2_4",
4 
],
[
 "Waiting Room_3",
"Interview #2_4",
1 
],
[
 "Interview #1_3",
"Interview #3_4",
10 
],
[
 "Interview #2_3",
"Interview #3_4",
20 
],
[
 "Pivotal Rejected_3",
"Interview #3_4",
1 
],
[
 "Reference Check #3_3",
"Interview #3_4",
1 
],
[
 "Interview #1_3",
"Interview #4 do not use_4",
38 
],
[
 "Interview #2_3",
"Interview #4 do not use_4",
24 
],
[
 "Pivotal Rejected_3",
"Interview #4 do not use_4",
1 
],
[
 "RPI_3",
"Interview #4 do not use_4",
11 
],
[
 "Interview #4 do not use_3",
"Interview #4_4",
2 
],
[
 "Interview #1_3",
"Interview #5_4",
2 
],
[
 "Interview #4 do not use_3",
"Interview #5_4",
3 
],
[
 "Approved by Hiring Manager_3",
"Manager Screen_4",
1 
],
[
 "Interview #1_3",
"Manager Screen_4",
3 
],
[
 "New_3",
"Manager Screen_4",
1 
],
[
 "Phone Screen_3",
"Manager Screen_4",
5 
],
[
 "RPI_3",
"Manager Screen_4",
1 
],
[
 "Interview #1_3",
"New_4",
1 
],
[
 "Offer Generation_3",
"New_4",
1 
],
[
 "Pivotal Rejected_3",
"New_4",
28 
],
[
 "Rejected by Hiring Manager_3",
"New_4",
2 
],
[
 "RPI_3",
"New_4",
5 
],
[
 "Submitted to Hiring Manager_3",
"New_4",
1 
],
[
 "Hired_3",
"Offer Accepted/Hired_4",
6 
],
[
 "Interview #1_3",
"Offer Accepted/Hired_4",
2 
],
[
 "Interview #4 do not use_3",
"Offer Accepted/Hired_4",
1 
],
[
 "Offer Extended_3",
"Offer Accepted/Hired_4",
1 
],
[
 "RPI_3",
"Offer Accepted/Hired_4",
1 
],
[
 "Interview #1_3",
"Offer Declined_4",
8 
],
[
 "Interview #2_3",
"Offer Declined_4",
1 
],
[
 "Interview #1_3",
"Offer Extended_4",
33 
],
[
 "Interview #2_3",
"Offer Extended_4",
1 
],
[
 "Interview #4 do not use_3",
"Offer Extended_4",
3 
],
[
 "Reference Check #2_3",
"Offer Extended_4",
1 
],
[
 "RPI_3",
"Offer Extended_4",
5 
],
[
 "Interview #1_3",
"Offer Generation_4",
28 
],
[
 "Interview #2_3",
"Offer Generation_4",
1 
],
[
 "Pivotal Rejected_3",
"Offer Generation_4",
1 
],
[
 "RPI_3",
"Offer Generation_4",
1 
],
[
 "Interview #2_3",
"Offer Rejected_4",
1 
],
[
 "Approved by Hiring Manager_3",
"Phone Screen_4",
32 
],
[
 "Interview #1_3",
"Phone Screen_4",
12 
],
[
 "Interview #2_3",
"Phone Screen_4",
1 
],
[
 "Manager Screen_3",
"Phone Screen_4",
2 
],
[
 "New_3",
"Phone Screen_4",
37 
],
[
 "Pivotal Rejected_3",
"Phone Screen_4",
6 
],
[
 "Rejected by Hiring Manager_3",
"Phone Screen_4",
1 
],
[
 "Resume Viewed_3",
"Phone Screen_4",
5 
],
[
 "RPI_3",
"Phone Screen_4",
25 
],
[
 "Submitted to Hiring Manager_3",
"Phone Screen_4",
1 
],
[
 "Waiting Room_3",
"Phone Screen_4",
3 
],
[
 "Approved by Hiring Manager_3",
"Pivotal Rejected_4",
8 
],
[
 "Hired_3",
"Pivotal Rejected_4",
5 
],
[
 "Interview #1_3",
"Pivotal Rejected_4",
648 
],
[
 "Interview #2_3",
"Pivotal Rejected_4",
57 
],
[
 "Interview #3_3",
"Pivotal Rejected_4",
3 
],
[
 "Interview #4 do not use_3",
"Pivotal Rejected_4",
5 
],
[
 "Interview #4_3",
"Pivotal Rejected_4",
1 
],
[
 "Manager Screen_3",
"Pivotal Rejected_4",
14 
],
[
 "New_3",
"Pivotal Rejected_4",
52 
],
[
 "Offer Extended_3",
"Pivotal Rejected_4",
1 
],
[
 "Offer Generation_3",
"Pivotal Rejected_4",
2 
],
[
 "Phone Screen_3",
"Pivotal Rejected_4",
152 
],
[
 "Pivotal Rejected_3",
"Pivotal Rejected_4",
22 
],
[
 "Product Manager Evaluation_3",
"Pivotal Rejected_4",
1 
],
[
 "Rejected by Hiring Manager_3",
"Pivotal Rejected_4",
133 
],
[
 "Resume Viewed_3",
"Pivotal Rejected_4",
4 
],
[
 "RPI_3",
"Pivotal Rejected_4",
393 
],
[
 "Submitted to Hiring Manager_3",
"Pivotal Rejected_4",
10 
],
[
 "Visa Processing_3",
"Pivotal Rejected_4",
1 
],
[
 "Waiting Room_3",
"Pivotal Rejected_4",
47 
],
[
 "Interview #5_3",
"Reference Check #2_4",
5 
],
[
 "Approved by Hiring Manager_3",
"Rejected by Hiring Manager_4",
4 
],
[
 "Interview #1_3",
"Rejected by Hiring Manager_4",
31 
],
[
 "Interview #2_3",
"Rejected by Hiring Manager_4",
1 
],
[
 "Phone Screen_3",
"Rejected by Hiring Manager_4",
6 
],
[
 "Pivotal Rejected_3",
"Rejected by Hiring Manager_4",
2 
],
[
 "Resume Viewed_3",
"Rejected by Hiring Manager_4",
1 
],
[
 "RPI_3",
"Rejected by Hiring Manager_4",
37 
],
[
 "Submitted to Hiring Manager_3",
"Rejected by Hiring Manager_4",
10 
],
[
 "Hired_3",
"Rejected_4",
1 
],
[
 "Interview #1_3",
"Rejected_4",
29 
],
[
 "Interview #2_3",
"Rejected_4",
3 
],
[
 "New_3",
"Rejected_4",
2 
],
[
 "Phone Screen_3",
"Rejected_4",
4 
],
[
 "Product Design Manager Screen_3",
"Rejected_4",
1 
],
[
 "Rejected_3",
"Rejected_4",
2 
],
[
 "Waiting Room_3",
"Rejected_4",
2 
],
[
 "Approved by Hiring Manager_3",
"Resume Viewed_4",
1 
],
[
 "Interview #1_3",
"Resume Viewed_4",
2 
],
[
 "Manager Screen_3",
"Resume Viewed_4",
1 
],
[
 "New_3",
"Resume Viewed_4",
1 
],
[
 "Phone Screen_3",
"Resume Viewed_4",
2 
],
[
 "RPI_3",
"Resume Viewed_4",
2 
],
[
 "Submitted to Hiring Manager_3",
"Resume Viewed_4",
12 
],
[
 "Approved by Hiring Manager_3",
"RPI_4",
50 
],
[
 "Interview #1_3",
"RPI_4",
44 
],
[
 "Interview #2_3",
"RPI_4",
11 
],
[
 "Interview #4 do not use_3",
"RPI_4",
1 
],
[
 "New_3",
"RPI_4",
34 
],
[
 "Phone Screen_3",
"RPI_4",
88 
],
[
 "Pivotal Rejected_3",
"RPI_4",
23 
],
[
 "RPI_3",
"RPI_4",
1 
],
[
 "Submitted to Hiring Manager_3",
"RPI_4",
3 
],
[
 "Waiting Room_3",
"RPI_4",
5 
],
[
 "New_3",
"Submitted to Hiring Manager_4",
3 
],
[
 "Phone Screen_3",
"Submitted to Hiring Manager_4",
1 
],
[
 "Resume Viewed_3",
"Submitted to Hiring Manager_4",
3 
],
[
 "RPI_3",
"Submitted to Hiring Manager_4",
1 
],
[
 "Interview #5_3",
"Visa Processing_4",
1 
],
[
 "Interview #1_3",
"Waiting Room_4",
25 
],
[
 "Interview #2_3",
"Waiting Room_4",
1 
],
[
 "New_3",
"Waiting Room_4",
2 
],
[
 "Phone Screen_3",
"Waiting Room_4",
4 
],
[
 "Pivotal Rejected_3",
"Waiting Room_4",
11 
],
[
 "Resume Viewed_3",
"Waiting Room_4",
1 
],
[
 "RPI_3",
"Waiting Room_4",
17 
],
[
 "Rejected by Hiring Manager_4",
"Approved by Hiring Manager_5",
1 
],
[
 "Submitted to Hiring Manager_4",
"Approved by Hiring Manager_5",
2 
],
[
 "Approved_4",
"Hired_5",
3 
],
[
 "Hired_4",
"Hired_5",
1 
],
[
 "Interview #1_4",
"Hired_5",
12 
],
[
 "Interview #2_4",
"Hired_5",
41 
],
[
 "Interview #3_4",
"Hired_5",
3 
],
[
 "Interview #4 do not use_4",
"Hired_5",
23 
],
[
 "New_4",
"Hired_5",
1 
],
[
 "Offer Accepted/Hired_4",
"Hired_5",
4 
],
[
 "Offer Extended_4",
"Hired_5",
23 
],
[
 "Offer Generation_4",
"Hired_5",
13 
],
[
 "Phone Screen_4",
"Hired_5",
1 
],
[
 "Pivotal Rejected_4",
"Hired_5",
1 
],
[
 "RPI_4",
"Hired_5",
5 
],
[
 "Hired_4",
"Interview #1_5",
1 
],
[
 "Interview #1_4",
"Interview #1_5",
1 
],
[
 "Interview #2_4",
"Interview #1_5",
61 
],
[
 "Interview #3_4",
"Interview #1_5",
1 
],
[
 "Interview #4 do not use_4",
"Interview #1_5",
9 
],
[
 "Manager Screen_4",
"Interview #1_5",
5 
],
[
 "New_4",
"Interview #1_5",
5 
],
[
 "Offer Declined_4",
"Interview #1_5",
1 
],
[
 "Offer Extended_4",
"Interview #1_5",
1 
],
[
 "Phone Screen_4",
"Interview #1_5",
18 
],
[
 "Pivotal Rejected_4",
"Interview #1_5",
12 
],
[
 "Rejected by Hiring Manager_4",
"Interview #1_5",
2 
],
[
 "Resume Viewed_4",
"Interview #1_5",
1 
],
[
 "RPI_4",
"Interview #1_5",
96 
],
[
 "Waiting Room_4",
"Interview #1_5",
5 
],
[
 "Interview #1_4",
"Interview #2_5",
120 
],
[
 "Interview #2_4",
"Interview #2_5",
1 
],
[
 "Interview #3_4",
"Interview #2_5",
3 
],
[
 "Interview #4 do not use_4",
"Interview #2_5",
1 
],
[
 "Pivotal Rejected_4",
"Interview #2_5",
1 
],
[
 "RPI_4",
"Interview #2_5",
1 
],
[
 "Interview #1_4",
"Interview #3_5",
2 
],
[
 "Interview #2_4",
"Interview #3_5",
87 
],
[
 "Interview #4 do not use_4",
"Interview #3_5",
1 
],
[
 "Pivotal Rejected_4",
"Interview #3_5",
2 
],
[
 "RPI_4",
"Interview #3_5",
2 
],
[
 "Interview #1_4",
"Interview #4 do not use_5",
5 
],
[
 "Interview #2_4",
"Interview #4 do not use_5",
152 
],
[
 "Interview #3_4",
"Interview #4 do not use_5",
2 
],
[
 "Offer Generation_4",
"Interview #4 do not use_5",
1 
],
[
 "Pivotal Rejected_4",
"Interview #4 do not use_5",
2 
],
[
 "RPI_4",
"Interview #4 do not use_5",
6 
],
[
 "Visa Processing_4",
"Interview #4 do not use_5",
1 
],
[
 "Interview #2_4",
"Interview #4_5",
2 
],
[
 "Interview #3_4",
"Interview #4_5",
1 
],
[
 "Interview #4 do not use_4",
"Interview #4_5",
5 
],
[
 "Interview #2_4",
"Interview #5_5",
2 
],
[
 "Interview #3_4",
"Interview #5_5",
1 
],
[
 "Interview #4 do not use_4",
"Interview #5_5",
15 
],
[
 "Interview #5_4",
"Interview #5_5",
1 
],
[
 "Reference Check #2_4",
"Interview #5_5",
1 
],
[
 "Approved by Hiring Manager_4",
"Manager Screen_5",
7 
],
[
 "Phone Screen_4",
"Manager Screen_5",
2 
],
[
 "Phone Screen_4",
"New_5",
1 
],
[
 "Pivotal Rejected_4",
"New_5",
9 
],
[
 "Hired_4",
"Offer Accepted/Hired_5",
4 
],
[
 "Interview #1_4",
"Offer Accepted/Hired_5",
1 
],
[
 "Interview #2_4",
"Offer Accepted/Hired_5",
1 
],
[
 "Offer Accepted/Hired_4",
"Offer Accepted/Hired_5",
1 
],
[
 "Offer Extended_4",
"Offer Accepted/Hired_5",
2 
],
[
 "Hired_4",
"Offer Declined_5",
1 
],
[
 "Interview #2_4",
"Offer Declined_5",
4 
],
[
 "Interview #4 do not use_4",
"Offer Declined_5",
2 
],
[
 "Offer Extended_4",
"Offer Declined_5",
3 
],
[
 "Offer Generation_4",
"Offer Declined_5",
1 
],
[
 "Interview #1_4",
"Offer Extended_5",
9 
],
[
 "Interview #2_4",
"Offer Extended_5",
1 
],
[
 "Interview #4 do not use_4",
"Offer Extended_5",
4 
],
[
 "Offer Generation_4",
"Offer Extended_5",
2 
],
[
 "Approved_4",
"Offer Generation_5",
1 
],
[
 "Interview #1_4",
"Offer Generation_5",
12 
],
[
 "Interview #2_4",
"Offer Generation_5",
3 
],
[
 "Pivotal Rejected_4",
"Offer Generation_5",
1 
],
[
 "Waiting Room_4",
"Offer Generation_5",
1 
],
[
 "Interview #2_4",
"Pending Approval_5",
1 
],
[
 "Approved by Hiring Manager_4",
"Phone Screen_5",
4 
],
[
 "Interview #1_4",
"Phone Screen_5",
3 
],
[
 "Manager Screen_4",
"Phone Screen_5",
1 
],
[
 "New_4",
"Phone Screen_5",
6 
],
[
 "Pivotal Rejected_4",
"Phone Screen_5",
5 
],
[
 "Resume Viewed_4",
"Phone Screen_5",
4 
],
[
 "RPI_4",
"Phone Screen_5",
5 
],
[
 "Submitted to Hiring Manager_4",
"Phone Screen_5",
1 
],
[
 "Waiting Room_4",
"Phone Screen_5",
2 
],
[
 "Approved by Hiring Manager_4",
"Pivotal Rejected_5",
1 
],
[
 "Hired_4",
"Pivotal Rejected_5",
1 
],
[
 "Interview #1_4",
"Pivotal Rejected_5",
133 
],
[
 "Interview #2_4",
"Pivotal Rejected_5",
319 
],
[
 "Interview #3_4",
"Pivotal Rejected_5",
15 
],
[
 "Interview #4 do not use_4",
"Pivotal Rejected_5",
12 
],
[
 "Manager Screen_4",
"Pivotal Rejected_5",
1 
],
[
 "New_4",
"Pivotal Rejected_5",
1 
],
[
 "Offer Declined_4",
"Pivotal Rejected_5",
1 
],
[
 "Offer Extended_4",
"Pivotal Rejected_5",
2 
],
[
 "Offer Generation_4",
"Pivotal Rejected_5",
7 
],
[
 "Phone Screen_4",
"Pivotal Rejected_5",
35 
],
[
 "Pivotal Rejected_4",
"Pivotal Rejected_5",
11 
],
[
 "Rejected by Hiring Manager_4",
"Pivotal Rejected_5",
61 
],
[
 "Resume Viewed_4",
"Pivotal Rejected_5",
2 
],
[
 "RPI_4",
"Pivotal Rejected_5",
100 
],
[
 "Submitted to Hiring Manager_4",
"Pivotal Rejected_5",
1 
],
[
 "Waiting Room_4",
"Pivotal Rejected_5",
27 
],
[
 "Interview #2_4",
"Reference Check #2_5",
1 
],
[
 "Interview #5_4",
"Reference Check #2_5",
4 
],
[
 "Offer Rejected_4",
"Reference Check #2_5",
1 
],
[
 "Reference Check #2_4",
"Reference Check #3_5",
3 
],
[
 "Approved by Hiring Manager_4",
"Rejected by Hiring Manager_5",
2 
],
[
 "Interview #1_4",
"Rejected by Hiring Manager_5",
13 
],
[
 "Interview #2_4",
"Rejected by Hiring Manager_5",
2 
],
[
 "New_4",
"Rejected by Hiring Manager_5",
1 
],
[
 "Phone Screen_4",
"Rejected by Hiring Manager_5",
1 
],
[
 "Pivotal Rejected_4",
"Rejected by Hiring Manager_5",
1 
],
[
 "Resume Viewed_4",
"Rejected by Hiring Manager_5",
3 
],
[
 "RPI_4",
"Rejected by Hiring Manager_5",
3 
],
[
 "Submitted to Hiring Manager_4",
"Rejected by Hiring Manager_5",
2 
],
[
 "Hired_4",
"Rejected_5",
1 
],
[
 "Interview #1_4",
"Rejected_5",
3 
],
[
 "Interview #2_4",
"Rejected_5",
1 
],
[
 "New_4",
"Resume Viewed_5",
2 
],
[
 "Phone Screen_4",
"Resume Viewed_5",
1 
],
[
 "RPI_4",
"Resume Viewed_5",
1 
],
[
 "Approved by Hiring Manager_4",
"RPI_5",
10 
],
[
 "Hired_4",
"RPI_5",
1 
],
[
 "Interview #1_4",
"RPI_5",
13 
],
[
 "Interview #2_4",
"RPI_5",
4 
],
[
 "Manager Screen_4",
"RPI_5",
1 
],
[
 "New_4",
"RPI_5",
20 
],
[
 "Offer Extended_4",
"RPI_5",
1 
],
[
 "Phone Screen_4",
"RPI_5",
31 
],
[
 "Pivotal Rejected_4",
"RPI_5",
4 
],
[
 "RPI_4",
"RPI_5",
1 
],
[
 "Submitted to Hiring Manager_4",
"RPI_5",
2 
],
[
 "Waiting Room_4",
"RPI_5",
1 
],
[
 "New_4",
"Submitted to Hiring Manager_5",
1 
],
[
 "Phone Screen_4",
"Submitted to Hiring Manager_5",
3 
],
[
 "Pivotal Rejected_4",
"Submitted to Hiring Manager_5",
1 
],
[
 "RPI_4",
"Submitted to Hiring Manager_5",
1 
],
[
 "Interview #4 do not use_4",
"Visa Processing_5",
2 
],
[
 "Offer Generation_4",
"Visa Processing_5",
1 
],
[
 "Reference Check #2_4",
"Visa Processing_5",
1 
],
[
 "Interview #1_4",
"Waiting Room_5",
8 
],
[
 "Interview #2_4",
"Waiting Room_5",
5 
],
[
 "Manager Screen_4",
"Waiting Room_5",
1 
],
[
 "Phone Screen_4",
"Waiting Room_5",
1 
],
[
 "Pivotal Rejected_4",
"Waiting Room_5",
2 
],
[
 "RPI_4",
"Waiting Room_5",
3 
],
[
 "Submitted to Hiring Manager_5",
"Approved by Hiring Manager_6",
3 
],
[
 "Interview #2_5",
"Approved_6",
1 
],
[
 "Hired_5",
"Hired_6",
1 
],
[
 "Interview #1_5",
"Hired_6",
10 
],
[
 "Interview #2_5",
"Hired_6",
6 
],
[
 "Interview #3_5",
"Hired_6",
13 
],
[
 "Interview #4 do not use_5",
"Hired_6",
48 
],
[
 "Interview #5_5",
"Hired_6",
1 
],
[
 "New_5",
"Hired_6",
1 
],
[
 "Offer Accepted/Hired_5",
"Hired_6",
3 
],
[
 "Offer Declined_5",
"Hired_6",
1 
],
[
 "Offer Extended_5",
"Hired_6",
6 
],
[
 "Offer Generation_5",
"Hired_6",
7 
],
[
 "Phone Screen_5",
"Hired_6",
1 
],
[
 "Pivotal Rejected_5",
"Hired_6",
2 
],
[
 "Reference Check #2_5",
"Hired_6",
1 
],
[
 "RPI_5",
"Hired_6",
1 
],
[
 "Visa Processing_5",
"Hired_6",
1 
],
[
 "Waiting Room_5",
"Hired_6",
1 
],
[
 "Hired_5",
"Interview #1_6",
1 
],
[
 "Interview #2_5",
"Interview #1_6",
15 
],
[
 "Interview #3_5",
"Interview #1_6",
1 
] 
];
data.addColumn('string','source');
data.addColumn('string','target');
data.addColumn('number','Value');
data.addRows(datajson);
return(data);
}
 
// jsDrawChart
function drawChartSankeyID2cf673673aaa() {
var data = gvisDataSankeyID2cf673673aaa();
var options = {};
options["width"] =   2250;
options["height"] =   1150;
options["sankey"] = {link:{color:{fill:'grey'}},
               	node: { nodePadding: 10,
               		
               		label: { fontName: 'Times-Roman',
                         fontSize: 10,
                         color: 'black',
                         bold: true,
                         italic: true }
 }


               	};


    var chart = new google.visualization.Sankey(
    document.getElementById('SankeyID2cf673673aaa')
    );
    chart.draw(data,options);
    

}
  
 
// jsDisplayChart
(function() {
var pkgs = window.__gvisPackages = window.__gvisPackages || [];
var callbacks = window.__gvisCallbacks = window.__gvisCallbacks || [];
var chartid = "sankey";
  
// Manually see if chartid is in pkgs (not all browsers support Array.indexOf)
var i, newPackage = true;
for (i = 0; newPackage && i < pkgs.length; i++) {
if (pkgs[i] === chartid)
newPackage = false;
}
if (newPackage)
  pkgs.push(chartid);
  
// Add the drawChart function to the global list of callbacks
callbacks.push(drawChartSankeyID2cf673673aaa);
})();
function displayChartSankeyID2cf673673aaa() {
  var pkgs = window.__gvisPackages = window.__gvisPackages || [];
  var callbacks = window.__gvisCallbacks = window.__gvisCallbacks || [];
  window.clearTimeout(window.__gvisLoad);
  // The timeout is set to 100 because otherwise the container div we are
  // targeting might not be part of the document yet
  window.__gvisLoad = setTimeout(function() {
  var pkgCount = pkgs.length;
  google.load("visualization", "1", { packages:pkgs, callback: function() {
  if (pkgCount != pkgs.length) {
  // Race condition where another setTimeout call snuck in after us; if
  // that call added a package, we must not shift its callback
  return;
}
while (callbacks.length > 0)
callbacks.shift()();
} });
}, 100);
}
 
// jsFooter
</script>
 
<!-- jsChart -->  
<script type="text/javascript" src="https://www.google.com/jsapi?callback=displayChartSankeyID2cf673673aaa"></script>
 
<!-- divChart -->
  
<div id="SankeyID2cf673673aaa" 
  style="width: 2250; height: 1150;">
</div>
 <div><span>Data: diag_dt[2:500, ] &#8226; Chart ID: <a href="Chart_SankeyID2cf673673aaa.html">SankeyID2cf673673aaa</a> &#8226; <a href="https://github.com/mages/googleVis">googleVis-0.5.10</a></span><br /> 
<!-- htmlFooter -->
<span> 
  R version 3.2.4 (2016-03-10) 
  &#8226; <a href="https://developers.google.com/terms/">Google Terms of Use</a> &#8226; <a href="https://google-developers.appspot.com/chart/interactive/docs/gallery/sankey">Documentation and Data Policy</a>
</span></div>
</body>
</html>

